<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The <%= link_to "旅行シェア", root_path %></a> is a project pratice on IT日本語 lesson.
    </p>
  </body>
</html>