/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.signup{
    width: 300px;
    height: 100px;
    position: inherit;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.signup_button{
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    font-size: 30px;
    background: #a15900;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    text-align: center;
}

.signup_button:hover {
  background: #8d4e00;
  text-decoration: none;
}

.signup_button>a{
    color: #ffffff;
}

.signup_button>a:hover{
    color: #ffffff;
    text-decoration: none;
}