<footer class="footer">
  <small>
    The <a href=""><b>旅行シェア</b></a>
    by <a href=""><b>できるのチーム</b></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact　Us", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>